body {
    font-family: Arial, sans-serif;
    margin: 0px;
}

.section {
    width: 210mm;
    min-height: 297mm;
    /* A4サイズの高さ */
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;


}

.section h2 {
    margin-top: 0;
}

.item {
    padding: 5px;
    background-color: #f0f0f0;
    margin: 2px 0;
    border: 1px solid #ddd;
}

.add-item-button,
#download-pdf {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-item-button:hover,
#download-pdf:hover {
    background-color: #0056b3;
}

@media print {
    @page {
        size: A4 portrait;
        /* A4サイズ, 縦向き */
        margin: 0cm;
        /* マージン */
    }

    body {
        padding: 0mm;
        margin: 0mm;
        /* これが無いと余分な余白が入る */
    }

    .no-print {
        display: none;
    }


}

.no-break {
    page-break-inside: avoid;
}