<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>VN3ライセンス利用規約ジェネレータ Ver2.0</title>

    <script src="vue@2.js"></script>
    <script>
        // Vue の設定は Vue インスタンス生成前に行う必要があります
        Vue.config.devtools = true;
        const LicenseItemType = {
            CLAUSE: "clause",
            NESTED_CLAUSE: "nestedClause",
            FREE_TEXT: "freeText"
        };

    </script>
    <script src="./translations.js" defer></script>
    <script src="licenseData.js" defer></script>
    <script src="main.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>


    <div id="app" v-cloak>
        <div id="app-section">
            <h1><img src="VN3License_Logo.png" width="150px"><br>VN3ライセンス利用規約ジェネレータ
                Ver{{placeholders.vn3generatorversion}}
            </h1>
            <h2>VN3ライセンスVer.{{placeholders.vn3version}}に準拠したジェネレータです。日本語の利用規約と英語の参考訳、韓国語・中国語の簡易参考表を作成できます。</h2>
            <div class="info">

                <p><span class="required">*</span> は必須事項です。</p>
                <form>
                    <!-- 利用確認 -->
                    <div class="form-group">
                        <label for="agreement">ジェネレーター利用に関する確認 <span class="required">*</span></label>
                        <p>このジェネレータは、VN3ライセンスに係るプライバシーポリシーおよびサイトポリシー（https://www.vn3.org/policy）ならびに、VN3ライセンス利用規約ジェネレータの注意事項（https://www.vn3.org/generator）に従って提供されます。これらの記載内容を確認し、同意しなければ利用することはできません。また、作成された規約は、自己責任にて使用してください。このジェネレータによって作成された利用規約によって生じた一切の事由について、VN3ライセンスチームのメンバーはもとより、作成にかかわっていただいた方は一切の責任を取りません。
                        </p>
                        <div class="checkbox-group">
                            <input type="checkbox" id="agreement" v-model="placeholders.agreement" required>
                            <label for="agreement" style="margin: 0;">記載事項を確認し、これに同意します。</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="version">利用規約のバージョン <span class="required">*</span></label>
                        <p>規約を改正する場合に備えて権利者が管理しやすい番号や文章を任意形式で入力してください。
                        </p>
                        <input type="text" id="version" v-model="placeholders.version" name="version"
                            placeholder="例：1.00、バージョン１、ver.20200501 など" required>
                    </div>


                    <div class="form-group" id="terms-title-container">
                        <label for="terms-title">利用規約タイトル <span class="required">*</span></label>
                        <p>作成される利用規約のタイトルを入力してください。「〇〇利用規約」として表示されます。</p>
                        <div class="input-group">
                            <!-- 入力部分 -->
                            <input type="text" id="terms-title" v-model="placeholders.termsTitle" name="terms-title"
                                placeholder="例: ひろこちゃん3Dモデル" required>
                            <!-- 接尾文字 -->
                            <span class="input-group-text">利用規約</span>
                        </div>
                    </div>



                    <!-- 許諾対象データ -->
                    <div class="form-group">
                        <label for="permitted-data">許諾対象データ <span class="required">*</span></label>
                        <textarea id="permitted-data" v-model="placeholders.permittedData" name="permitted-data"
                            rows="3" placeholder="例:ひろこちゃん3Dモデル、ひろこちゃんにゃんにゃん3Dモデル、これらに付属するデータ一式など" required></textarea>
                    </div>


                    <!-- 権利者および権利者への問い合わせ先 -->
                    <div class="form-group">
                        <label>権利者および権利者への問い合わせ先</label>
                        <div>
                            <p>権利者: <span class="required">*</span> <input type="text" v-model="placeholders.rightsName"
                                    placeholder="例: あしやまひろこ" required></p>
                            <p>メール: <input type="email" v-model="placeholders.rightsEmail"
                                    placeholder="例: example@example.com"></p>
                            <p>X(Twitter): <input type="text" v-model="placeholders.rightsX"
                                    placeholder="例: @hiroko_TB">
                            </p>
                            <p>ウェブサイト: <input type="text" v-model="placeholders.rightsWebsite"
                                    placeholder="例: https://example.com"></p>
                        </div>




                    </div>

                    <!-- クレジット表記 -->
                    <div class="form-group">
                        <label for="credit">クレジット表記</label>
                        <input type="text" id="credit" v-model="placeholders.credit" name="credit"
                            placeholder="例: テクノコスプレ製作所">
                    </div>

                    <!-- 推奨するハッシュタグ -->
                    <div class="form-group">
                        <label for="hashtags">推奨するハッシュタグ</label>
                        <textarea id="hashtags" v-model="placeholders.hashtags" name="hashtags" rows="3"
                            placeholder="例:#ひろこ3D"></textarea>
                    </div>

                    <!-- 許諾期間および許諾の変更等 -->
                    <div class="form-group">
                        <label>許諾期間および許諾の変更等 <span class="required">*</span></label>
                        <select id="permission-period" v-model="placeholders.permissionPeriodKey">
                            <option value="A">【Aパターン】{{permissionPeriodOptions.A}}
                            </option>
                            <option value="B">【Bパターン】{{permissionPeriodOptions.B}}
                            </option>
                            <option value="C">【Cパターン】{{permissionPeriodOptions.C}}
                            </option>
                            <option value="D">【Dパターン】 自由記述</option>
                        </select>
                        <div class="permissionPeriodText">{{permissionPeriodText}}</div>
                        <textarea v-if="placeholders.permissionPeriodKey === 'D'"
                            v-model="placeholders.permissionPeriodCustom" rows="3" placeholder="自由記述を入力してください">
                    </textarea>
                        <div class="tips-permission-period">
                            <div class="tips-label"><strong>Tips:</strong></div>
                            <div class="tips-content">
                                <div>【Aパターン】一般的な商慣習からすると妥当な水準です。権利者は常識的な方法で規約の変更を行うことができます。</div>
                                <div>
                                    【Bパターン】最も安全な内容です。事実上、権利者は任意のタイミングでモデルの規約内容を変更することができます。ただし販売モデルの場合などは、アバター等に限らない世間一般の商慣習からすると権利者の権利が強すぎるという指摘を受ける可能性はあり得ます。また、いつでも利用中止の指示もできるため、利用者からすると使いづらいと感じる可能性があります。
                                </div>
                                <div>
                                    【Cパターン】データを売り切り、後から規約の変更を行わない場合に適している内容です。ただしこの場合、ユーザーにとって不利な条件変更を後からすることはできませんが、ユーザーに対して有利な修正に限っては後から行うことができます。
                                </div>
                                <div>
                                    【Dパターン】上記３案に該当しない場合は自由記述をすることもできます
                                </div>
                            </div>
                        </div>


                    </div>
                </form>
            </div>
            <div v-for="(category, catIndex) in licenseCategories" :key="catIndex" class="category">
                <h2>{{category.termID}} {{ category.name }}</h2>
                <p class="category-description">{{category.description}}</p>
                <div v-for="(item, index) in category.items" :key="index" class="license-item">
                    <!-- 条項 -->
                    <div v-if="item.type === LicenseItemType.CLAUSE" class="clause">
                        <div class="clause-container">
                            <div class="term-container">
                                <img v-if="item.icon" :src="item.icon" alt="icon" class="item-icon" />

                                <h3 :class="{ 'disabled-term': !item.visibility }" :id="item.termID">{{item.termID}}
                                    {{ item.term }}</h3>
                                <label class="switch">
                                    <input type="checkbox" v-model="item.visibility" class="visibility-toggle"
                                        @change="handleVisibilityChange(item)" />
                                    <span class="slider"></span>
                                </label>
                            </div>
                            <div v-if="item.visibility">
                                <div v-for="(option, optionIndex) in item.options" :key="optionIndex" class="option">
                                    <label>
                                        <input type="radio" :name="item.termID" :value="option"
                                            v-model="item.selectedOption" @change="handleOptionChange(option)">
                                        {{ option }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- Tips -->
                        <div v-if="item.tips" class="tips">
                            <p><strong>Tips:</strong> {{ item.tips }}</p>
                        </div>
                        <div v-if="item.userTips" class="tips">
                            <p><strong>Tips:</strong> {{ item.userTips }}</p>
                        </div>
                    </div>

                    <!-- ネスト条項 -->
                    <div v-if="item.type === LicenseItemType.NESTED_CLAUSE" class="nested-clause">
                        <div class="clause-container">
                            <div class="term-container">
                                <img v-if="item.icon" :src="item.icon" alt="icon" class="item-icon" />
                                <h3 :class="{ 'disabled-term': !item.visibility }">{{item.termID}} {{ item.term }}</h3>
                                <label class="switch">
                                    <input type="checkbox" v-model="item.visibility" class="visibility-toggle"
                                        @change="handleVisibilityChange(item)" />
                                    <span class="slider"></span>
                                </label>
                            </div>
                            <div v-if="item.visibility">
                                <div v-for="(nestedItem, nestedIndex) in item.nestedItems" :key="nestedIndex"
                                    class="nested-item">
                                    <div class="nested-term-container" :id="nestedItem.termID">
                                        <img v-if="nestedItem.icon" :src="nestedItem.icon" alt="icon"
                                            class="item-icon" />

                                        <h4 :class="{ 'disabled-term': !nestedItem.visibility }">{{ nestedItem.term }}
                                        </h4>
                                        <label class="switch">
                                            <input type="checkbox" v-model="nestedItem.visibility"
                                                class="visibility-toggle"
                                                @change="handleVisibilityChange(item,nestedItem)" />
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                    <div v-if="nestedItem.visibility">
                                        <div v-for="(option, optionIndex) in nestedItem.options" :key="optionIndex"
                                            class="option">
                                            <label>
                                                <input type="radio" :name="nestedItem.termID" :value="option"
                                                    v-model="nestedItem.selectedOption"
                                                    @change="handleOptionChange(option)">
                                                {{ option }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="item.tips" class="tips">
                            <p><strong>Tips:</strong> {{ item.tips }}</p>
                        </div>
                        <div v-if="item.userTips" class="tips">
                            <p><strong>Tips:</strong> {{ item.userTips }}</p>
                        </div>
                    </div>



                    <!-- 自由記述 -->
                    <div v-if="item.type === LicenseItemType.FREE_TEXT" class="free-text">
                        <div class="clause-container">
                            <div class="term-container">
                                <img v-if="item.icon" :src="item.icon" alt="icon" class="item-icon" />
                                <h3 :class="{ 'disabled-term': !item.visibility }">{{item.termID}} {{ item.term }}</h3>
                                <label class="switch">
                                    <input type="checkbox" v-model="item.visibility" class="visibility-toggle"
                                        @change="handleVisibilityChange(item)" />
                                    <span class="slider"></span>
                                </label>
                            </div>
                            <div v-if="item.visibility">
                                <textarea v-model="item.text" :placeholder="item.defaultText"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- メールアドレスの登録とアンケート -->

            <div class="form-group">
                <label for="email">メールアドレスの登録</label>
                <p>VN3ライセンスのバージョンアップのお知らせや、その他VN3ライセンスや運営にかかわるお知らせを希望される場合はメールアドレスを入力してください。（※メルマガのようなものではなく、重要な更新などがあった場合にのみアナウンスのために送付します）
                </p>
                <input type="email" id="email" v-model="placeholders.email" name="email"
                    placeholder="例: example@gmail.com">
            </div>


            <hr>
            <div v-if="!checkAllOptionsSelected() || !validateForm()[0]" class="warning">全ての項目を選択してください
                <br><br>
                <div v-for="error in validateForm()[1]">
                    {{error}}&nbsp;
                </div>
                <span v-for="term in findUnselectedTerms()">
                    <a :href="'#' + term.termID">{{term.termIDText}}</a>&nbsp;
                </span>

            </div>
            <div class="pdf-action-container">
                <div class="preview-select">
                    <label for="language-select" class="inline-label">PDFの言語を選択:</label>
                    <select id="language-select" v-model="currentLanguage" ref="languageSelect">
                        <option value="ja" selected>【JA】日本語版 簡易一覧・本文</option>
                        <option value="en">【EN】英語版 簡易一覧・本文</option>
                        <option value="ko">【KO】韓国語版 簡易一覧</option>
                        <option value="zh_tw">【ZH TW】中国語版(繁体字) 簡易一覧</option>
                        <option value="zh_cn">【ZH CN】中国語版(簡体字) 簡易一覧</option>
                    </select>
                </div>
                <div class="arrow-icon">
                    <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <!-- 下向きの三角形: 上側の2点、下側の1点 -->
                        <polygon points="50,70 20,30 80,30" fill="black">
                            <!-- 縦方向に10px動いて戻るアニメーション -->
                            <animateTransform attributeName="transform" type="translate" values="0 0; 0 10; 0 0"
                                dur="1s" repeatCount="indefinite" />
                        </polygon>
                    </svg>
                </div>
                <div class="download-section">
                    <div><button id="download-pdf" @click="downloadPDF">PDFをダウンロード</button></div>
                    <p>印刷画面が開きます。設定で「PDFに保存」を選択してください。</p>
                </div>
            </div>
        </div>
        <!-- ここからPDFに送るデータ -->
        <div class="pdf-section-container">
            <div class="pdf-preview-description">
                PDFプレビュー画面
            </div>
            <div class="pdf-section" translate="no">
                <div class="section">
                    <div class="simple-title-header">
                        {{translate(licenseText.simpleTitle)}}

                    </div>
                    <div class="simple-title-description">{{translate(licenseText.simpleDescription)}}</div>

                    <div class="simple-inditermsection">
                        <div class="simple-grid-item" v-for="category in licenseCategories" :key="category.name"
                            v-if="category.items.some(item => item.visibility)">
                            <div class="simple-title">{{category.termID}} {{translate(category.name)}}</div>
                            <div class="simple-items-container">
                                <div v-for="item in category.items" :key="item.termID || item.type" :class="[
                          'simple-term-item',
                          { 
                            'simple-2column-item': category.items.length === 2,
                            'simple-1column-item': category.items.length === 1
                          }
                        ]" v-show="item.visibility">
                                    <!-- NESTED_CLAUSE -->
                                    <template v-if="item.type === LicenseItemType.NESTED_CLAUSE">

                                        <div class="simple-icon-and-term">
                                            <img :src="item.icon" class="simple-icon" :alt="item.simpleTerm" />
                                            <div class="simple-term">{{item.termID}} {{translate(item.simpleTerm)}}
                                            </div>
                                        </div>
                                        <div class="simple-nested-items" v-for="nested in item.nestedItems"
                                            :key="nested.termID" v-show="nested.visibility">
                                            - {{translate(nested.simpleTerm)}}
                                            <div class="placeholder simple-selectedOption">
                                                {{translate(nested.selectedOption)}}
                                            </div>
                                        </div>

                                    </template>

                                    <!-- CLAUSE -->
                                    <template v-else-if="item.type === LicenseItemType.CLAUSE">
                                        <div class="simple-icon-and-term">
                                            <img :src="item.icon" class="simple-icon" :alt="item.simpleTerm" />
                                            <div class="simple-term">{{item.termID}} {{translate(item.simpleTerm)}}
                                            </div>
                                        </div>
                                        <div class="placeholder simple-selectedOption">
                                            {{translate(item.selectedOption)}}</div>
                                    </template>

                                    <!-- FREE_TEXT -->
                                    <template v-else-if="item.type === LicenseItemType.FREE_TEXT">
                                        <div class="simple-icon-and-term">
                                            <img :src="item.icon" class="simple-icon" :alt="item.simpleTerm" />
                                            <div class="simple-term">{{item.termID}} {{translate(item.simpleTerm)}}
                                                <div class="placeholder simple-free-text multiline-text">{{ item.text ||
                                                    item.defaultText
                                                    }}
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="section">

                    <div class="license-info-container no-page-break">

                        <div class="license-info-block">
                            <div class="license-info-title">{{translate(licenseText.licensedData)}}</div>
                            <div class="license-info-contents">{{placeholders.permittedData}}</div>
                        </div>

                        <div class="license-info-block">
                            <div class="license-info-title">{{translate(licenseText.rightsHolderInfo)}}</div>
                            <div class="license-info-contents">
                                <div class="license-info-row-inner">
                                    <div class="inner-title">
                                        {{ translate(licenseText.rightsName) }}
                                    </div>
                                    <div class="inner-contents">
                                        {{ placeholders.rightsName }}
                                    </div>
                                </div>

                                <div class="license-info-row-inner">
                                    <div class="inner-title">
                                        {{ translate(licenseText.rightsEmail) }}
                                    </div>
                                    <div class="inner-contents">
                                        {{ placeholders.rightsEmail }}
                                    </div>
                                </div>

                                <div class="license-info-row-inner">
                                    <div class="inner-title">
                                        {{ translate(licenseText.rightsX) }}
                                    </div>
                                    <div class="inner-contents">
                                        {{ placeholders.rightsX }}
                                    </div>
                                </div>

                                <div class="license-info-row-inner">
                                    <div class="inner-title">
                                        {{ translate(licenseText.rightsWebsite) }}
                                    </div>
                                    <div class="inner-contents">
                                        {{ placeholders.rightsWebsite }}
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class=" license-info-block">
                            <div class="license-info-title">{{translate(licenseText.creditNotation)}}</div>
                            <div class="license-info-contents">{{placeholders.credit }}</div>
                        </div>

                        <div class="license-info-block">
                            <div class="license-info-title">{{translate(licenseText.recommendedHashtags)}}</div>
                            <div class="license-info-contents">{{ placeholders.hashtags}}</div>
                        </div>

                        <div class="license-info-block">
                            <div class="license-info-title">{{translate(licenseText.termsChangePolicy)}}</div>
                            <div class="license-info-contents">
                                <p><span class="license-text">{{ translate(permissionPeriodSimpleText)}}</span></p>
                                <p v-if="placeholders.permissionPeriodKey === 'D'"><span class="license-text">{{
                                        placeholders.permissionPeriodCustom }}</span></p>
                            </div>
                        </div>

                        <div class="license-info-block">
                            <div class="license-info-title">{{translate(licenseText.termsVersion)}}</div>
                            <div class="license-info-contents">{{ placeholders.version }}</div>
                        </div>
                    </div>


                    <div class="licensefooter" v-if="!['ja', 'en'].includes(currentLanguage)">
                        <hr>
                        {{translate(licenseText.footer)}}
                    </div>
                </div>


                <div class="section" v-if="['ja', 'en'].includes(currentLanguage)">
                    <div class="terms-section">
                        <div class="main-title-header">
                            {{translate(licenseText.title)}}
                        </div>
                        <p class="main-title-description">
                            {{translate(licenseText.description)}}
                        </p>


                        <h1 class="terms-title">{{translate(standardTerms.title)}}</h1>
                        <h2 class="terms-subtitle">{{translate(standardTerms.article1.subtitle)}}</h2>
                        <p>{{translate(standardTerms.article1.description)}}</p>

                        <dl class="terms-definitions">

                            <!-- 第1条 -->
                            <div class="no-page-break" v-for="terms in standardTerms.article1.terms">
                                <dt class="term-title">{{translate(terms.termTitle)}}</dt>
                                <dd class="term-description">{{translate(terms.termDescription)}}</dd>
                            </div>

                        </dl>
                        <!-- 第２条～第８条 -->
                        <div v-for="(article, articleIndex) in standardTerms.articles" :key="articleIndex"
                            class="no-page-break">
                            <div class="terms-subtitle">{{ translate(article.subtitle) }}</div>
                            <ol>
                                <li v-for="(term, termIndex) in article.terms" :key="termIndex">
                                    <template v-if="typeof term === 'string'">
                                        {{ translate(term) }}
                                    </template>
                                    <template v-else>
                                        <p>{{ translate(term.text) }}</p>
                                        <template v-if="term.subTerms">
                                            <ol type="a">
                                                <li v-for="(subTerm, subIndex) in term.subTerms" :key="subIndex">
                                                    <template v-if="typeof subTerm === 'string'">
                                                        {{ translate(subTerm) }}
                                                    </template>
                                                    <template v-else>
                                                        {{ translate(subTerm.text) }}
                                                        <ol type="i">
                                                            <li v-for="(deepSubTerm, deepSubIndex) in subTerm.subTerms"
                                                                :key="deepSubIndex">
                                                                {{ translate(deepSubTerm) }}
                                                            </li>
                                                        </ol>
                                                    </template>
                                                </li>
                                            </ol>
                                        </template>
                                    </template>
                                </li>
                            </ol>
                        </div>

                        <!-- 個別条件 -->
                        <div class="no-page-break">
                            <h1 class="terms-title">{{translate(licenseText.termsforParticularCases)}}</h1>

                            <h2 class="terms-subtitle">{{translate(licenseText.conditionsOfUse)}}</h2>
                            <div class="" v-for="category in licenseCategories" :key="category.name"
                                v-if="category.items.some(item => item.visibility)">
                                <div class="particular-title">{{category.termID}} {{ translate(category.name) }}</div>

                                <div v-for="item in category.items" :key="item.termID || item.type"
                                    class="particular-term-item" v-show="item.visibility">
                                    <!-- NESTED_CLAUSE -->
                                    <template v-if="item.type === LicenseItemType.NESTED_CLAUSE">

                                        <div class="particular-icon-and-term">
                                            <img :src="item.icon" class="particular-icon" :alt="item.term" />
                                            <div class="particular-term">{{ item.termID }} {{ translate(item.term) }}
                                            </div>
                                        </div>

                                        <div class="particular-nested-wrapper">
                                            <div class="particular-nested-inline" v-for="nested in item.nestedItems"
                                                :key="nested.termID" v-show="nested.visibility">
                                                <span class="particular-nested-term">{{ translate(nested.term)
                                                    }}</span>
                                                <span
                                                    class="particular-nested-selectedOption particular-selectedOption">{{
                                                    translate(nested.selectedOption)
                                                    }}</span>
                                            </div>
                                        </div>
                                    </template>

                                    <!-- CLAUSE -->
                                    <template v-else-if="item.type === LicenseItemType.CLAUSE">
                                        <div class="particular-icon-and-term">
                                            <img :src="item.icon" class="particular-icon" :alt="item.term" />
                                            <div class="particular-term">{{ item.termID }} {{ translate(item.term) }}
                                            </div>
                                        </div>
                                        <div class="particular-selectedOption">{{translate(item.selectedOption)}}</div>
                                        <!-- <div v-if="item.userTips" class="particular-tips">
                                            <p><strong>Tips:</strong> {{ translate(item.userTips) }}</p>
                                        </div> -->
                                    </template>

                                    <!-- FREE_TEXT -->
                                    <template v-else-if="item.type === LicenseItemType.FREE_TEXT">
                                        <img :src="item.icon" class="particular-icon" :alt="item.term" />
                                        <div class="particular-term">
                                            <div class="particular-free-text multiline-text">{{ item.text ||
                                                item.defaultText }}
                                            </div>
                                        </div>

                                    </template>

                                    <template v-if="item.userTips">
                                        <div v-if="item.userTips" class="particular-tips">
                                            <p><strong>Tips:</strong> {{ translate(item.userTips) }}</p>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>

                        <!-- ライセンス情報 -->
                        <div class="license-info-container no-page-break">
                            <div class="license-info-block">
                                <div class="license-info-title">{{translate(licenseText.licensedData)}}</div>
                                <div class="license-info-contents">{{placeholders.permittedData}}</div>
                            </div>
                            <div class="license-info-block">
                                <div class="license-info-title">{{translate(licenseText.rightsHolderInfo)}}</div>
                                <div class="license-info-contents">
                                    <div class="license-info-row-inner">
                                        <div class="inner-title">
                                            {{ translate(licenseText.rightsName) }}
                                        </div>
                                        <div class="inner-contents">
                                            {{ placeholders.rightsName }}
                                        </div>
                                    </div>

                                    <div class="license-info-row-inner">
                                        <div class="inner-title">
                                            {{ translate(licenseText.rightsEmail) }}
                                        </div>
                                        <div class="inner-contents">
                                            {{ placeholders.rightsEmail }}
                                        </div>
                                    </div>

                                    <div class="license-info-row-inner">
                                        <div class="inner-title">
                                            {{ translate(licenseText.rightsX) }}
                                        </div>
                                        <div class="inner-contents">
                                            {{ placeholders.rightsX }}
                                        </div>
                                    </div>

                                    <div class="license-info-row-inner">
                                        <div class="inner-title">
                                            {{ translate(licenseText.rightsWebsite) }}
                                        </div>
                                        <div class="inner-contents">
                                            {{ placeholders.rightsWebsite }}
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="license-info-block">
                                <div class="license-info-title">{{translate(licenseText.creditNotation)}}</div>
                                <div class="license-info-contents">{{placeholders.credit }}</div>
                            </div>

                            <div class="license-info-block">
                                <div class="license-info-title">{{translate(licenseText.recommendedHashtags)}}</div>
                                <div class="license-info-contents">{{ placeholders.hashtags}}</div>
                            </div>

                            <div class="license-info-block">
                                <div class="license-info-title">{{translate(licenseText.termsChangePolicy)}}</div>
                                <div class="license-info-contents">
                                    <p><span class="license-text">{{ translate(permissionPeriodText)}}</span></p>
                                    <p v-if="placeholders.permissionPeriodKey === 'D'"><span class="license-text">{{
                                            placeholders.permissionPeriodCustom }}</span></p>
                                </div>
                            </div>

                            <div class="license-info-block">
                                <div class="license-info-title">{{translate(licenseText.termsVersion)}}</div>
                                <div class="license-info-contents">{{ placeholders.version }}</div>
                            </div>
                        </div>
                        <div class="licensefooter">
                            <hr>
                            {{translate(licenseText.footer)}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>